body {
    font-family: 'Viaoda Libre', serif;
    background-color: rgb(255, 227, 185);
}

.header-title {
    background-color: rgb(28, 28, 28);
}

.main-content {
    text-align: justify;
    text-justify: inter-word;
}

.nav-item-dark {
    background-color: rgb(28, 28, 28);
}

.nav-item-white {
    background-color: azure;
}

.piano-image {
    height: 45vh;
}

.creator-image {
    height: 45vh;
    border-radius: 50%;
}

footer p {
    font-size: x-small;
}

.nav-tabs .nav-link-black {
    color: #ffffff;
}

.nav-tabs .nav-link-white {
    color: rgb(28, 28, 28);
}

.nav-tabs .nav-link.dropdown-toggle {
    position: relative;
}

.nav-item-white .dropdown-menu {
    background-color: white;
}

.nav-tabs .nav-link-black:focus,
.nav-tabs .nav-link-black:hover {
    border-color: rgb(28, 28, 28);
}